body 
{
background: rgba(255, 217, 0, 0.562);
font-family:sans-serif;
}
h1 
{
color:purple;
text-align:center;
}

.projects 
{ 
display:flex; 
flex-wrap:wrap; 
} 

.project 
{
text-align: center;
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(101, 101, 252); /* pick a color */
border-radius: 25%;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}

a { /* change the appearance of ALL links */
text-decoration: underline;
color: rgb(74, 168, 199);
}
.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
}